* {
    margin : 0 ;
    padding : 0 ;
}
div {
    color : rgba( 255 , 0 , 0 , 0.5 ) ;
    transform:translate(50px,50px);
    transform:scale(0.5,0.5);
    transform:rotate(45deg);
    transform:skew(15deg);
    
}
.note {
    font-size : 1.2em ;
   }
   #main {
    font-weight : bold ;
   }
   a[title] {
    text-decoration : underline ;
   }